<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagem em <%= imagem.size %>px</title>
</head>

<body>
    <style>
        .imagem {
            width: <%= imagem.size %>px;
        }
    </style>
    <img class="imagem" src="data:image/png;base64, <%= imagem.data %>" alt="<%= imagem.name %>">
</body>

</html>